// -------------------
// Brand/design colors
// -------------------
// Tip: Only create variables for brand colors,
// not for every single possible shade of grey.

$dark: #0d0d0d;
$green: #97ce4c;
$buff: #e4a788;
$maize: #f0e14a;
$pink: #e89ac7;
$light: #f0f2eb;

$darkGreen: #208d45;
$lightGreen: #a7cb54;

